.home__button-movil {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button-movil:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

@media screen and (min-width: 968px) {
  .home__button-movil {
    display: none;
  }
}
