<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>CV</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav bd-container">
        <!--
        <a href="#" class="nav__log">Francisco</a>-->
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link">
                <i class="bx bx-home nav__icon"></i> Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#perfil" class="nav__link">
                <i class="bx bx-user nav__icon"></i> Perfil
              </a>
            </li>
            <li class="nav__item">
              <a href="#education" class="nav__link">
                <i class="bx bx-book nav__icon"></i> Educación
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-receipt nav__icon"></i> Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="#experience" class="nav__link">
                <i class="bx bx-briefcase-alt nav__icon"></i> Experiencia
              </a>
            </li>
            <li class="nav__item">
              <a href="#certificate" class="nav__link">
                <i class="bx bx-award nav__icon"></i> Certificados
              </a>
            </li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt nav__icon"></i>
        </div>
      </nav>
    </header>
    <main class="main bd-container">
      <div class="resume" id="area-cv">
        <div class="resume__left">
          <section class="home" id="home">
            <div class="home__container section bd-grid">
              <div class="home__data bd-grid">
                <img
                  src="<%= require('./images/foto-perfil-cv.jpg')%>"
                  alt="mi foto de perfil"
                  class="home__img"
                />
                <h1 class="home__title">
                  <b>Francisco Omar Habib González Utrera</b>
                </h1>
                <h3 class="home__profession">Web Developer</h3>
                <div>
                  <a
                    download="MI-CV-2023.pdf"
                    href="<%= require('./pdf/MI-CV-2023.pdf')%>"
                    class="home__button-movil"
                    >Descargar CV en PDF</a
                  >
                </div>
              </div>
              <div class="home__address bd-grid">
                <span class="home__information">
                  <i class="bx bx-map icon"></i>Xalapa, Veracruz, México
                </span>
                <span class="home__information">
                  <i class="bx bx-envelope icon"></i>
                  francgonzalez456@gmail.com
                </span>
              </div>
            </div>
            <i
              class="bx bx-moon change-theme"
              title="Cambiar tema"
              id="theme-button"
            ></i>
            <i
              class="bx bx-download generate-pdf"
              title="Descargar CV"
              id="resume-button"
            ></i>
          </section>
          <section class="social section">
            <h2 class="section__title">SOCIAL</h2>
            <div class="social__container bd-grid">
              <a
                href="https://mx.linkedin.com/in/francisco-omar-habib-gonz%C3%A1lez-utrera-137211266"
                target="_blank"
                class="link"
              >
                <i class="bx bxl-linkedin-square icon"></i>Francisco Omar H.
                Glez Utrera
              </a>
              <a
                href="https://github.com/Frank345-sys"
                target="_blank"
                class="link"
              >
                <i class="bx bxl-github icon"></i>Frank345-sys
              </a>
            </div>
          </section>
          <section class="profile section" id="perfil">
            <h2 class="section__title">Perfil</h2>
            <p class="profile__description">
              <!--
              Soy un Ingeniero en Sistemas Computacionales graduado del
              Instituto Tecnológico Superior de Xalapa, con especialidad en
              Ingeniería de Software. Mi experiencia incluye habilidades en
              HTML, CSS, Java, JavaScript y React. A lo largo de mi formación
              académica, he liderado proyectos de desarrollo de software,
              abarcando el diseño, programación y documentación. Me caracterizo
              por ser una persona responsable, colaborativa y proactiva, siempre
              dispuesta a aprender y mejorar continuamente mi desempeño
              profesional.-->
              Soy Ingeniero en Sistemas Computacionales con especialidad en
              Ingeniería de Software, graduado del Instituto Tecnológico
              Superior de Xalapa. Mi conjunto de habilidades abarca la
              programación en diversos lenguajes como C/C++, Html, Css, Java,
              JavaScript y React. Durante mi formación académica como
              estudiante, he liderado proyectos de software, participando
              activamente en todas las fases, desde el diseño, la codificación y
              la documentación. Me considero una persona responsable,
              colaborativa, proactiva, creativo y autonomo . Disfruto del
              aprendizaje constante, buscando nuevas oportunidades para adquirir
              conocimientos y experiencias unicas que me permitan mejorar
              constantemente mi desempeño en mi profesión.
            </p>
          </section>
          <section class="education" id="educacion">
            <h2 class="section__title">Educación</h2>
            <div class="education__container bd-grid">
              <div class="education__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="education__title">
                    Ingeniería en Sistemas Computacionales
                  </h3>
                  <span class="education__studies"
                    >Instituto Tecnológico Superior de Xalapa</span
                  >
                  <span class="education__year">2016-2022</span>
                </div>
              </div>
              <div class="education__content">
                <div class="time">
                  <span class="rounder"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="education__title">Desarrollo Web</h3>
                  <span class="education__studies"
                    >Bootcamp TripleTen Latam</span
                  >
                  <span class="education__year">2023 - Actual</span>
                </div>
              </div>
            </div>
          </section>
          <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>
            <div class="skills__content bd-grid">
              <ul class="skills__data">
                <li class="skills__name"><span class="circle"></span>Html</li>
                <li class="skills__name"><span class="circle"></span>Css</li>
                <li class="skills__name">
                  <span class="circle"></span>JavaScript
                </li>
                <li class="skills__name"><span class="circle"></span>React</li>
              </ul>
              <!--
              <ul class="skills__data">
                <li class="skills__name">
                  <span class="circle"></span>React
                </li>
              </ul>
            --></div>
          </section>
        </div>
        <div class="resume__right">
          <section class="experience section" id="experience">
            <h2 class="section__title">Experiencia</h2>
            <div class="experience__container bd-grid">
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="experience__title">Proyecto 1</h3>
                  <span class="experience__company"
                    >Enero-2023 - Feb-2023 | TripleTen Bootcamp Latam</span
                  >
                  <p class="experience__description">
                    Mi primer Proyecto del Bootcamp TripleTen en donde
                    desarrolle mi primera Web con HTML y CSS, cuyo tema para el
                    desarrollo fue "Las técnicas de aprendizaje más eficaces y
                    avanzadas."
                  </p>

                  <a
                    href="https://frank345-sys.github.io/web_project_1_es/"
                    target="_blank"
                    class="link"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="experience__title">Proyecto 2</h3>
                  <span class="experience__company"
                    >Feb-2023 - Mar-2023 | TripleTen Bootcamp Latam</span
                  >
                  <p class="experience__description">
                    Mi segundo Proyecto del Bootcamp TripleTen desarrolle mi
                    primera Web responsiva con HTML, CSS y media queries cuyo
                    tema para el desarrollo fue "De patria a patria."
                  </p>
                  <a
                    href="https://frank345-sys.github.io/web_project_3_esp/"
                    target="_blank"
                    class="link"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="experience__title">Proyecto 3</h3>
                  <span class="experience__company"
                    >Abril-2023 - Sep-2023 | TripleTen Bootcamp Latam</span
                  >
                  <p class="experience__description">
                    Mi tercer Proyecto del Bootcamp TripleTen desarrolle mi
                    primera Web dinamica Y responsiva con HTML, CSS y JavaScript
                    cuyo tema para el desarrollo fue "Around in the U.S."
                  </p>
                  <a
                    href="https://frank345-sys.github.io/web_project_4_esp/"
                    target="_blank"
                    class="link"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section class="certificate section" id="certificate">
            <h2 class="section__title">Certificados</h2>
            <div class="certificate__container bd-grid">
              <div class="certificate__content">
                <h3 class="certificate__title">
                  Introducción al Desarrollo Web front end: HTML y CSS desde
                  cero
                </h3>
                <p class="certificate__description">
                  En este curso aprendí los fundamentos de HTML y de CSS, donde
                  aprendi a estructurar y definir estilos para la creación de
                  cualquier página web responsiva.
                </p>
                <a
                  href="https://s3.amazonaws.com/public-lessons.crehana.com/enrollment/attachment/2022/11/10/introduccion-al-desarrollo-web-front-end-html-y-css-desde-cero-6172085-Certificado-Crehana.pdf"
                  target="_blank"
                  class="link"
                >
                  <i class="bx bx-link icon"></i>Enlace al certificado
                </a>
              </div>
              <div class="certificate__content">
                <h3 class="certificate__title">Fundamentos de JavaScript</h3>
                <p class="certificate__description">
                  En este curso aprendí los fundamentos del JavaScript, donde
                  aprendi sobre las variables, hosting, operadores, arreglos,
                  etc. Además conoci el paradigma de la programación orientada a
                  objetos y como trabajar con el, para la realización de sitios
                  web dinámicos.
                </p>
                <a
                  href="https://s3.amazonaws.com/public-lessons.crehana.com/images/certificate/participation-pdf/09ef2e51/d7cfd6c5.pdf?source_page=User%20Dashboard&source_detail=Diploma%20Card"
                  target="_blank"
                  class="link"
                >
                  <i class="bx bx-link icon"></i>Enlace al certificado
                </a>
              </div>
            </div>
          </section>
          <!--
          <section class="references section" id="references">
            <h2 class="section__title">Referencias</h2>
            <div class="references__container bd-grid">
              <div class="references__content bd-grid">
                <span class="references__subtitle">Sr. Director</span>
                <h3 class="references__title">Mr. Clay Doe</h3>
                <ul class="references__contact">
                  <li>Phone: 999-777-666</li>
                  <li>Email: ejemplo@gmail.com</li>
                </ul>
              </div>
              <div class="references__content bd-grid">
                <span class="references__subtitle">Sr. Director</span>
                <h3 class="references__title">Mr. Clay Doe</h3>
                <ul class="references__contact">
                  <li>Phone: 999-777-666</li>
                  <li>Email: ejemplo@gmail.com</li>
                </ul>
              </div>
            </div>
          </section>-->
          <section class="languages section">
            <h2 class="section__title">Idiomas</h2>
            <div class="languages__container">
              <ul class="languages__content bd-grid">
                <li class="languages__name">
                  <span class="circle"></span> Español (Lengua nativa)
                </li>
                <li class="languages__name">
                  <span class="circle"></span> Inglés (Básico)
                </li>
              </ul>
            </div>
          </section>
          <section class="interests section">
            <h2 class="section__title">Intereses</h2>
            <div class="interests__container bd-grid">
              <div class="interests__content">
                <i class="bx bx-headphone interests__icon"></i>
                <span class="interests__name">Música</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-game interests__icon"></i>
                <span class="interests__name">Vídeojuegos</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-dumbbell interests__icon"></i>
                <span class="interests__name">Fitness</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-code-alt interests__icon"></i>
                <span class="interests__name">Programación</span>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
    </a>
  </body>
</html>
