<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
    <title>CV</title>
  </head>
  <body>
    <header class="header" id="header">
      <nav class="nav bd-container">
        <!--
        <a href="#" class="nav__log">Francisco</a>-->
        <div class="nav__menu" id="nav-menu">
          <ul class="nav__list">
            <li class="nav__item">
              <a href="#home" class="nav__link">
                <i class="bx bx-home nav__icon"></i> Home
              </a>
            </li>
            <li class="nav__item">
              <a href="#perfil" class="nav__link">
                <i class="bx bx-user nav__icon"></i> Perfil
              </a>
            </li>
            <li class="nav__item">
              <a href="#education" class="nav__link">
                <i class="bx bx-book nav__icon"></i> Educación
              </a>
            </li>
            <li class="nav__item">
              <a href="#skills" class="nav__link">
                <i class="bx bx-receipt nav__icon"></i> Skills
              </a>
            </li>
            <li class="nav__item">
              <a href="#experience" class="nav__link">
                <i class="bx bx-briefcase-alt nav__icon"></i> Experiencia
              </a>
            </li>
            <li class="nav__item">
              <a href="#certificate" class="nav__link">
                <i class="bx bx-award nav__icon"></i> Certificados
              </a>
            </li>
          </ul>
        </div>
        <div class="nav__toggle" id="nav-toggle">
          <i class="bx bx-grid-alt nav__icon"></i>
        </div>
      </nav>
    </header>
    <main class="main bd-container">
      <div class="resume resume-animation" id="area-cv">
        <div class="resume__left">
          <section class="home" id="home">
            <div class="home__container section bd-grid">
              <div class="home__data bd-grid">
                <img
                  src="<%= require('./images/foto-perfil-cv.jpg')%>"
                  alt="mi foto de perfil"
                  class="home__img"
                />
                <h1 class="home__title">
                  <b>Francisco Omar Habib González Utrera</b>
                </h1>
                <h3 class="home__profession">Web Developer</h3>
                <!---->
                <div>
                  <a
                    download="Web_Developer_Jr._Francisco_González.pdf"
                    href="<%= require('./pdf/Web_Developer_Jr._Francisco_Gonzalez.pdf')%>"
                    class="home__button-movil"
                    >Descargar CV en PDF</a
                  >
                </div>
              </div>
              <div class="home__address bd-grid">
                <span class="home__information">
                  <i class="bx bx-map icon"></i>Xalapa, Veracruz, México
                </span>
                <!--
                <span class="home__information">
                  <i class="bx bx-envelope icon"></i>
                  francgonzalez456@gmail.com
                </span>
              -->
                <a
                  href="mailto:francgonzalez456@gmail.com"
                  target="_blank"
                  class="link link-animation"
                >
                  <i class="bx bx-envelope icon"></i>francgonzalez456@gmail.com
                </a>
              </div>
            </div>
            <i
              class="bx bx-moon change-theme"
              title="Cambiar tema"
              id="theme-button"
            ></i>
            <i
              class="bx bx-download generate-pdf"
              title="Descargar CV"
              id="resume-button"
            ></i>
          </section>
          <section class="social section">
            <h2 class="section__title">SOCIAL</h2>
            <div class="social__container bd-grid">
              <a
                href="https://www.linkedin.com/in/francisco-omar-h-glez-utrera/"
                target="_blank"
                class="link link-animation"
              >
                <i class="bx bxl-linkedin-square icon"></i>Francisco Omar H.
                Glez Utrera
              </a>
              <a
                href="https://github.com/Frank345-sys"
                target="_blank"
                class="link link-animation"
              >
                <i class="bx bxl-github icon"></i>Frank345-sys
              </a>
            </div>
          </section>
          <section class="profile section" id="perfil">
            <h2 class="section__title">Perfil</h2>
            <p class="profile__description">
              <!--
              Soy un Ingeniero en Sistemas Computacionales graduado del
              Instituto Tecnológico Superior de Xalapa, con especialidad en
              Ingeniería de Software. Mi experiencia incluye habilidades en
              HTML, CSS, Java, Javascript y React. A lo largo de mi formación
              académica, he liderado proyectos de desarrollo de software,
              abarcando el diseño, programación y documentación. Me caracterizo
              por ser una persona responsable, colaborativa y proactiva, siempre
              dispuesta a aprender y mejorar continuamente mi desempeño
              profesional.

              Soy Ingeniero en Sistemas Computacionales con especialidad en
              Ingeniería de Software, graduado del Instituto Tecnológico
              Superior de Xalapa. Mi conjunto de habilidades abarca la
              programación en diversos lenguajes como C/C++, Html, Css, Java,
              Javascript y React. Durante mi formación académica como
              estudiante, he liderado proyectos de software, participando
              activamente en todas las fases, desde el diseño, la codificación y
              la documentación. Me considero una persona responsable,
              colaborativa, proactiva, creativo y autonomo . Disfruto del
              aprendizaje constante, buscando nuevas oportunidades para adquirir
              conocimientos y experiencias unicas que me permitan mejorar
              constantemente mi desempeño en mi profesión.-->
              Ingeniero en Sistemas Computacionales, graduado del Instituto
              Tecnológico Superior de Xalapa. Con experiencia programando en
              HTML, CSS, Javascript y React. He liderado proyectos de software,
              destacando en el diseño, codificación y documentación. Me
              considero una persona responsable, colaborativa, proactiva y
              creativa, con un fuerte espíritu de aprendizaje y una pasión por
              adquirir conocimientos, habilidades y experiencias.
            </p>
          </section>
          <section class="education section" id="educacion">
            <h2 class="section__title">Educación</h2>
            <div class="education__container bd-grid">
              <div class="education__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="education__title">Programa Desarrollo Web</h3>
                  <span class="education__studies"
                    >Escuela TripleTen de desarrollo web</span
                  >
                  <span class="education__year">2022 - Actual</span>
                  <p class="education__description">
                    <!--
                    El programa de Desarrollo web de TripleTen es un curso de
                    diez meses para la creación de sitios web. Abarca HTML, CSS,
                    Javascript, React, etc., e implica la finalización de 6
                    proyectos basados en problematicas del mundo real.-->
                    El Programa de Desarrollo Web, es un curso de diez meses que
                    abarca HTML, CSS, JS, React y otros aspectos clave para la
                    creación de sitios web que implica proyectos basados en
                    desafíos del mundo real.
                  </p>
                </div>
              </div>
              <div class="education__content">
                <div class="time">
                  <span class="rounder"></span>
                </div>
                <div class="data bd-grid">
                  <h3 class="education__title">
                    Ingeniería en Sistemas Computacionales
                  </h3>
                  <span class="education__studies"
                    >Instituto Tecnológico Superior de Xalapa</span
                  >
                  <p class="education__description">
                    Especialidad: Ingeniería de Software.
                  </p>
                  <span class="education__year">2016-2022</span>
                </div>
              </div>
            </div>
          </section>
          <section class="skills section" id="skills">
            <h2 class="section__title">Skills</h2>
            <div class="skills__content bd-grid">
              <ul class="skills__data">
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">HTML5</span>
                  </div>
                  <div class="skills__progress-bar">
                    <div style="width: 80%"></div>
                  </div>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">CSS3</span>
                  </div>
                  <div class="skills__progress-bar">
                    <div style="width: 80%"></div>
                  </div>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">JavaScript</span>
                  </div>
                  <div class="skills__progress-bar">
                    <div style="width: 70%"></div>
                  </div>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">React.js</span>
                  </div>
                  <div class="skills__progress-bar">
                    <div style="width: 60%"></div>
                  </div>
                </li>
              </ul>

              <!--
                <ul class="skills__data">
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">HTML5</span>
                  </div>
                  <progress class="skills__progress-bar" max="100" value="80">
                    80%
                  </progress>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">CSS3</span>
                  </div>
                  <progress class="skills__progress-bar" max="100" value="80">
                    80%
                  </progress>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">JavaScript</span>
                  </div>
                  <progress class="skills__progress-bar" max="100" value="70">
                    70%
                  </progress>
                </li>
                <li class="skills__item">
                  <div>
                    <span class="circle"></span>
                    <span class="skills__name">React.js</span>
                  </div>
                  <progress class="skills__progress-bar" max="100" value="60">
                    60%
                  </progress>
                </li>
              </ul>
              -->

              <!--
              <ul class="skills__data">
                <li class="skills__name">
                  <span class="circle"></span>HTML5:
                  <progress id="skill-html" max="100" value="70">70%</progress>
                </li>

                <li class="skills__name">
                  <span class="circle"></span>CSS3:
                  <progress id="skill-css" max="100" value="70">70%</progress>
                </li>

                <li class="skills__name">
                  <span class="circle"></span>JAVASCRIPT:
                  <progress id="skill-js" max="100" value="70">70%</progress>
                </li>

                <li class="skills__name">
                  <span class="circle"></span>REACT.JS
                  <progress id="skill-react" max="100" value="70">70%</progress>
                </li>
-->
              <!--
                <li class="skills__name"><span class="circle"></span>Html</li>
                <li class="skills__name"><span class="circle"></span>Css</li>
                <li class="skills__name">
                  <span class="circle"></span>Javascript
                </li>
                <li class="skills__name"><span class="circle"></span>React</li>
              -->
              <!--
              <ul class="skills__data">
                <li class="skills__name">
                  <span class="circle"></span>React
                </li>
              </ul>
            --></div>
          </section>
        </div>
        <div class="resume__right">
          <section class="experience section" id="experience">
            <h2 class="section__title">Proyectos Técnicos</h2>
            <div class="experience__container bd-grid">
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data">
                  <h3 class="experience__title">
                    Proyecto 1 - Aprender a aprender (one page).
                  </h3>
                  <span class="experience__company"
                    >2023-01 - 2023-02 | Escuela TripleTen de desarrollo
                    web</span
                  >
                  <ul class="experience__description">
                    <li>
                      <span class="circle"></span>Estructuré el HTML de manera
                      clara y accesible, utilizando elementos semánticos,
                      organicé los estilos CSS utilizando la metodología BEM
                      para una mejor organización y mantenibilidad.
                    </li>
                    <li>
                      <span class="circle"></span>
                      Mejoré la experiencia del usuario agregando transiciones y
                      animaciones CSS.
                    </li>
                    <li>
                      <span class="circle"></span>
                      <!--
                      Utilicé Git y GitHub para gestionar de manera efectiva las
                      versiones del proyecto y mantener un control de mis
                      avances.-->
                      Utilicé Git y GitHub para gestionar las versiones del
                      proyecto. Aprendí a crear commits y trabajar con ramas
                      para mantener un control de mis avances.
                    </li>
                  </ul>
                  <a
                    href="https://frank345-sys.github.io/web_project_1_es/"
                    target="_blank"
                    class="link link-animation"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                  <span class="line"></span>
                </div>
                <div class="data">
                  <h3 class="experience__title">
                    Proyecto 2 - De patria a patria (one page responsive).
                  </h3>
                  <span class="experience__company"
                    >2023-02 - 2023-03 | Escuela TripleTen de desarrollo
                    web</span
                  >
                  <ul class="experience__description">
                    <li>
                      <span class="circle"></span>Continué y refiné la
                      maquetación semántica en HTML y la metodología BEM
                      aplicada al proyecto.
                    </li>
                    <li>
                      <span class="circle"></span>Implementé técnicas avanzadas
                      de diseño, como 'display: flex' y 'display: grid', además
                      de media queries para garantizar la responsividad total
                      del sitio web al 100%.
                    </li>
                    <li>
                      <span class="circle"></span>Mejoré mis prácticas de
                      colaboración y seguimiento de cambios del proyecto,
                      facilitando la coordinación con otros colaboradores.
                      <!--Mantuve y mejore el uso de Git y GitHub llevando un mejor control de las versiones de mis avances del proyecto.-->
                    </li>
                  </ul>
                  <a
                    href="https://frank345-sys.github.io/web_project_3_esp/"
                    target="_blank"
                    class="link link-animation"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
              <div class="experience__content">
                <div class="time">
                  <span class="rounder"></span>
                </div>
                <div class="data">
                  <h3 class="experience__title">
                    Proyecto 3 - Around in the U.S (app web con React).
                  </h3>
                  <span class="experience__company"
                    >2023-07 - 2024-02 | Escuela TripleTen de desarrollo
                    web</span
                  >
                  <ul class="experience__description">
                    <li>
                      <span class="circle"></span>
                      <!--
                      Desarrollé el proyecto
                      utilizando React.js a traves de componentes para la
                      construcción de interfaces interactivas, dinámicas y
                      escalables.-->
                      Utilicé React.js para desarrollar el proyecto,
                      aprovechando su enfoque basado en componentes. Implementé
                      interfaces interactivas, dinámicas y escalables mediante
                      la creación y gestión de componentes.
                    </li>
                    <li>
                      <span class="circle"></span>El diseño de la web es 100%
                      responsivo y se adapta de manera fluida a diferentes
                      tamaños de pantallas y dispositivos.
                    </li>
                    <li>
                      <span class="circle"></span>Implementé diversas
                      funcionalidades interactivas, como la edición de datos de
                      usuario, la creación y gestión de tarjetas. Permití a los
                      usuarios dar like o dislike a las tarjetas y eliminarlas,
                      utilizando una API externa para almacenar y gestionar los
                      datos de manera eficiente.
                    </li>
                    <!--
                    <li>
                      <span class="circle"></span>El proyecto utiliza Git y
                      GitHub para la gestión de las versiones y facilitar el
                      seguimiento de los cambios realizados.
                    </li>
                  --></ul>
                  <a
                    href="https://frank345-sys.github.io/web_project_around_react/"
                    target="_blank"
                    class="link link-animation"
                  >
                    <i class="bx bx-link icon"></i>Enlace a la web del proyecto
                  </a>
                </div>
              </div>
            </div>
          </section>
          <section class="certificate section" id="certificate">
            <h2 class="section__title">Certificados</h2>
            <div class="certificate__container bd-grid">
              <div class="certificate__content">
                <h3 class="certificate__title">
                  Introducción al Desarrollo Web front end: HTML y CSS desde
                  cero
                </h3>
                <span class="certificate__company"
                  >Noviembre, 2022 | crehana</span
                >
                <p class="certificate__description">
                  En este curso, adquirí conocimientos fundamentales de HTML y
                  CSS, lo que me permitió crear páginas web responsivas mediante
                  la estructuración y definición de estilos.
                </p>
                <a
                  href="https://s3.amazonaws.com/public-lessons.crehana.com/enrollment/attachment/2022/11/10/introduccion-al-desarrollo-web-front-end-html-y-css-desde-cero-6172085-Certificado-Crehana.pdf"
                  target="_blank"
                  class="link link-animation"
                >
                  <i class="bx bx-link icon"></i>Enlace al certificado
                </a>
              </div>
              <div class="certificate__content">
                <h3 class="certificate__title">Fundamentos de Javascript</h3>
                <span class="certificate__company"
                  >Noviembre, 2022 | crehana</span
                >
                <p class="certificate__description">
                  Durante este curso, adquirí conocimientos fundamentales de
                  Javascript, además exploré el paradigma de la programación
                  orientada a objetos (POO) para la creación de sitios web
                  dinámicos.
                </p>
                <a
                  href="https://s3.amazonaws.com/public-lessons.crehana.com/images/certificate/participation-pdf/09ef2e51/d7cfd6c5.pdf?source_page=User%20Dashboard&source_detail=Diploma%20Card"
                  target="_blank"
                  class="link link-animation"
                >
                  <i class="bx bx-link icon"></i>Enlace al certificado
                </a>
              </div>
            </div>
          </section>
          <!--
          <section class="references section" id="references">
            <h2 class="section__title">Referencias</h2>
            <div class="references__container bd-grid">
              <div class="references__content bd-grid">
                <span class="references__subtitle">Sr. Director</span>
                <h3 class="references__title">Mr. Clay Doe</h3>
                <ul class="references__contact">
                  <li>Phone: 999-777-666</li>
                  <li>Email: ejemplo@gmail.com</li>
                </ul>
              </div>
              <div class="references__content bd-grid">
                <span class="references__subtitle">Sr. Director</span>
                <h3 class="references__title">Mr. Clay Doe</h3>
                <ul class="references__contact">
                  <li>Phone: 999-777-666</li>
                  <li>Email: ejemplo@gmail.com</li>
                </ul>
              </div>
            </div>
          </section>-->
          <section class="languages section">
            <h2 class="section__title">Idiomas</h2>
            <div class="languages__container">
              <ul class="languages__content">
                <li class="languages__name">
                  <span class="circle"></span> Español (Lengua nativa)
                </li>
                <li class="languages__name">
                  <span class="circle"></span> Inglés (Básico)
                </li>
              </ul>
            </div>
          </section>
          <section class="interests section">
            <h2 class="section__title">Intereses</h2>
            <div class="interests__container bd-grid">
              <div class="interests__content">
                <i class="bx bx-headphone interests__icon"></i>
                <span class="interests__name">Música</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-game interests__icon"></i>
                <span class="interests__name">Vídeojuegos</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-dumbbell interests__icon"></i>
                <span class="interests__name">Fitness</span>
              </div>
              <div class="interests__content">
                <i class="bx bx-code-alt interests__icon"></i>
                <span class="interests__name">Programación</span>
              </div>
            </div>
          </section>
        </div>
      </div>
    </main>
    <a href="#" class="scrolltop" id="scroll-top">
      <i class="bx bx-up-arrow-alt scrolltop__icon"></i>
    </a>
  </body>
</html>
